<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RIGHT_JUMP1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,136}</string>
                <key>spriteSourceSize</key>
                <string>{88,136}</string>
                <key>textureRect</key>
                <string>{{1,318},{88,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RIGHT_JUMP2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{92,153}</string>
                <key>spriteSourceSize</key>
                <string>{96,155}</string>
                <key>textureRect</key>
                <string>{{1,1},{92,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RIGHT_JUMP3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{91,160}</string>
                <key>spriteSourceSize</key>
                <string>{95,162}</string>
                <key>textureRect</key>
                <string>{{1,156},{91,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RIGHT_JUMP4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{92,153}</string>
                <key>spriteSourceSize</key>
                <string>{96,155}</string>
                <key>textureRect</key>
                <string>{{1,1},{92,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RIGHT_JUMP5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,136}</string>
                <key>spriteSourceSize</key>
                <string>{88,136}</string>
                <key>textureRect</key>
                <string>{{1,318},{88,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>JUMP_RIGHT.png</string>
            <key>size</key>
            <string>{94,455}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72bb682735df2e68f382d64dc0d49bd4:f7d46bb2379fd73be97864d384094969:3c6b604ab9d4282cfe8f86f4f5673cb0$</string>
            <key>textureFileName</key>
            <string>JUMP_RIGHT.png</string>
        </dict>
    </dict>
</plist>
